<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>删减操作</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） --
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 --
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <style>
      /* .triangle{
			width:0px;
			height:0px;
			border-top:10px solid red;
			border-right:10px solid transparent;
			border-bottom:10px solid transparent;
			border-left:10px solid transparent;
		} */
    </style>
  </head>

  <body>
    <div id="app">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            添加品牌
          </h3>
        </div>
        <div class="panel-body form-inline">
          <label>
            ID:
            <input type="text" v-model="id" />
          </label>
          <label>
            Name:
            <input type="text" v-model="name" @keyup.en="add" />
          </label>
          <button class="btn btn-primary" @click="add()">添加</button>
          <label>
            搜索名称关键字：
            <input
              type="text"
              class="form-control"
              v-model="keywords"
              id="search"
              v-focus
              v-color="'blue'"
            />
          </label>
        </div>
      </div>
      <table class=" table table-bordered table-hover table-striped">
        <thead>
          //表头
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Ctime</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in search(keywords)" :key="item.id">
            <td v-text="item.id"></td>
            <td v-text="item.name"></td>
            <td>{{item.ctime | dataformat('')}}</td>
            <td><a href="" @click.prevent="del(item.id)">删除</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="app2">
      <h4 v-fontweight="1000" v-fontsize="'50'">{{dt | dateformat('')}}</h4>
    </div>
    <script>
      //全局过滤器，时间格式化
      Vue.filter("dataformat", function(dateStr, pattern) {
        //根据给定的时间字符串，得到特定的时间
        var dt = new Date(dateStr);
        var y = dt.getFullYear();
        var m = dt.getMonth() + 1;
        var d = dt.getDate();
        if (pattern.toUpperCase() === "yyyy-mm-dd") {
          return `${y}-${m}-${d}`;
        } else {
          var hh = dt.getHours();
          var mm = dt.getMinutes();
          var ss = dt.getSeconds();
          return `${y}-${m}-${d} ${hh}:${mm}:${ss}`;
        }
      });
      Vue.directive("focus", {
        //钩子函数
        //bind每当指令绑定到元素上的时候，立即执行bind函数，只执行一次.在元素刚绑定了指令的时候，还没有插入到DOM树，这时候没有focus
        //一个元素只有插入到DOM树后，才能获取焦点。
        //inserted表示元素插入到dom中的时候执行inserted的函数
        //updated当VNode更新的时候，执行updated，可以执行多次
        //每个函数中第一个参数永远是el参数，他表示被绑定了指令的那个元素，这个el参数，是一个原生的js对象
        inserted: function(el) {
          el.focus();
        },
        bind: function() {},
        updated: function() {}
      });
      Vue.directive("color", {
        bind: function(el, binding) {
          //el,value,expression
          //内联样式，只要指令绑定了元素，不管元素有没有插入到DOM，元素都有一个内联样式
          el.style.color = binding.value;
        }
      });
      var vm = new Vue({
        el: "#app",
        data: {
          id: "",
          name: "",
          keywords: "",
          list: [
            {
              id: 1,
              name: "奔驰",
              ctime: new Date()
            },
            {
              id: 2,
              name: "宝马",
              ctime: new Date()
            },
            {
              id: 3,
              name: "法拉利",
              ctime: new Date()
            }
          ]
        },
        methods: {
          add() {
            var car = {
              id: this.id,
              name: this.name,
              ctime: new Date()
            };
            this.list.push(car);
          },
          del(id) {
            this.list.some((item, i) => {
              if (item.id == id) {
                this.list.splice(i, 1);
                return true;
              }
            });
          },
          search(keywords) {
            /* 第一种方法-----------------------------------------------
      var newlist=[]
      this.list.forEach(item=>{
      	if(item.name.indexOf(keywords)!=-1){
      		newlist.push(item)
      	}
      })
      return newlist; -------------------------------------------*/
            return this.list.filter(item => {
              if (item.name.includes(keywords)) {
                return item;
              }
            });
          }
        }
      });
      var vm2 = new Vue({
        el: "#app2",
        data: {
          dt: new Date()
        },
        methods: {},
        filters: {
          //定义私有过滤器  -- 过滤器名称和函数  名称相同时，优先调用私有过滤器
          dateformat: function(dateStr, pattern) {
            var dt = new Date(dateStr);
            var y = dt.getFullYear();
            var m = dt.getMonth() + 1;
            var d = dt.getDate();
            if (pattern.toUpperCase() === "yyyy-mm-dd") {
              return `${y}-${m}-${d}`;
            } else {
              var hh = dt.getHours();
              var mm = dt.getMinutes();
              var ss = dt
                .getSeconds()
                .toString()
                .padStart(2, "0"); //padStart添加字符串
              return `${y}-${m}-${d} ${hh}:${mm}:${ss} ~~~~~~`;
            }
          }
        },
        directives: {//定义私有指令
          'fontweight': {
            bind: function(el, binding) {
              el.style.fontWeight = binding.value;
            }
		  },
		  'fontsize':function(el,binding){
              el.style.fontSize = parseInt(binding.value)+'px'
		  }
		}
		
      });
      //---原生js---------------------------------------------
      //document.getElementById('search').focus()
    </script>
  </body>
</html>
